music_directory         "{{ .nas_mount_path }}/music"
playlist_directory      "{{ .nas_mount_path }}/music"
db_file                 "{{ .nas_mount_path }}/music/mpd/mpd.db"
log_file                "{{ .nas_mount_path }}/music/mpd/mpd.log"
pid_file                "{{ .nas_mount_path }}/music/mpd/mpd.pid"
state_file              "{{ .nas_mount_path }}/music/mpd/mpdstate"
auto_update             "yes"
auto_update_depth       "4"
follow_outside_symlinks "yes"
follow_inside_symlinks  "yes"
log_level               "default"
max_connections         "10"
max_playlist_length     "131072"
max_output_buffer_size  "262144"
max_command_list_size   "32768"
audio_buffer_size       "8192"
buffer_before_play      "80%"
connection_timeout      "60"
filesystem_charset      "UTF-8"
id3v1_encoding          "UTF-8"
gapless_mp3_playback    "yes"
zeroconf_enabled        "yes"
zeroconf_name           "Music Player"

# ReplayGain
replaygain              "auto"
volume_normalization    "yes"

audio_output {
    name                  "default"
    type                  "ao"
    mixer_type            "software"
    options               "buf_size=8192,buffer_time=1500000"
}

audio_output {
    type                    "fifo"
    name                    "my_fifo"
    path                    "/tmp/mpd.fifo"
    format                  "44100:16:2"
}

decoder {
    plugin                "mp4ff"
    enabled               "no"
}

bind_to_address         "0.0.0.0"
port                    "6600"

# user                    "narze"
