---
BUNDLE_GEM__TEST: "rspec"
BUNDLE_GEM__CI: "github"
BUNDLE_GEM__MIT: "true"
BUNDLE_GEM__COC: "true"
BUNDLE_GEM__CHANGELOG: "true"
BUNDLE_GEM__LINTER: "rubocop"
{{- if (eq .chezmoi.os "darwin") }}
BUNDLE_BUILD__PG: "--with-pg-config=/Applications/Postgres.app/Contents/Versions/latest/bin/pg_config"
{{ end -}}
