{{- $name := "Manassarn Manoonchai" -}}
{{- $email := "manassarn@gmail.com" -}}

{{- if (env "ASK") }}
{{- $name = promptString "Full Name" $name -}}
{{- $email = promptString "Email" $email -}}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
