{{- $name := "Manassarn Manoonchai" -}}
{{- $email := "manassarn@gmail.com" -}}
{{- $github_user := "narze" -}}

{{- if (env "ASK") }}
{{- $name = promptString "Full Name" $name -}}
{{- $email = promptString "Email" $email -}}
{{- $github_user = promptString "GitHub Username" $github_user -}}
{{- end }}

{{- $delta_is_not_installed := true }}
{{- if (contains "delta" (output "command" "-v" "delta" "||" "true")) }}
{{-   $delta_is_not_installed = false }}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  flags:
    delta_is_not_installed: {{ $delta_is_not_installed }}

encryption: gpg
gpg:
  recipient: 7A6FE00E074F2B913EBD33B5F05DC9084102F48A
