[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-ghq"]
	path = dotbot-ghq
	url = https://github.com/klane/dotbot-ghq.git
	ignore = dirty
[submodule ".tmux"]
	path = etc/tmux
	url = https://github.com/narze/.tmux
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "dotbot-asdf"]
	path = dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "colemak-dhm"]
	path = etc/colemak-dhm
	url = https://github.com/narze/Colemak-DHm.git
