[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-ghq"]
	path = dotbot-ghq
	url = https://github.com/klane/dotbot-ghq.git
	ignore = dirty
[submodule ".tmux"]
	path = etc/tmux
	url = https://github.com/narze/.tmux
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "dotbot-asdf"]
	path = dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "colemak-dhm"]
	path = etc/colemak-dhm
	url = https://github.com/narze/Colemak-DHm.git
[submodule "stackline"]
	path = etc/hammerspoon/stackline
	url = https://github.com/AdamWagner/stackline.git
	branch = main
[submodule "focus-highlight"]
	path = etc/hammerspoon/Spoons/FocusHighlight.spoon
	url = https://github.com/dtinth/FocusHighlight.spoon.git
