<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Applications/Keyboard Maestro.app/Contents/Resources/Keyboard Maestro Engine.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>type</key>
			<string>waitPrevious</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Alfred 3.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>type</key>
			<string>waitPrevious</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Bartender 2.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>type</key>
			<string>waitPrevious</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/CrashPlan.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>type</key>
			<string>waitPrevious</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/RescueTime.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>type</key>
			<string>waitPrevious</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Currentsong.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>type</key>
			<string>waitPrevious</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Flux.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>type</key>
			<string>waitPrevious</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Dropbox.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>type</key>
			<string>waitPrevious</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Resilio Sync.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>type</key>
			<string>waitPrevious</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Slate.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/BitBar.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/BetterTouchTool.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Pocket.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Fantastical 2.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Logitech/Logitech Gaming Software.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Dash.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/CheatSheet.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Users/narze/Library/PreferencePanes/Hazel.prefPane/Contents/MacOS/HazelHelper.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/MEGAsync.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Users/narze/Library/Application Support/Google/Android File Transfer/Android File Transfer Agent.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Turbo Boost Switcher.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/TogglDesktop.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/CrashPlan.app/Contents/Helpers/CrashPlan menu bar.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Users/narze/Library/PreferencePanes/SwitchResX.prefPane/Contents/MacOS/SwitchResX Daemon.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Library/PreferencePanes/USB Overdrive.prefPane/Contents/Resources/USBOverdriveHelper.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Quitter.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/WhatPulse.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Timing.app/Contents/Library/LoginItems/TimingHelper.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Spotify Bluetooth Headset Listener.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/SpotMenu.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Synergy.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>ignored</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Applications/Karabiner.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Seil.app</string>
			<key>startupMode</key>
			<string>hidden</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/WD Drive Utilities.app/Contents/WDDriveUtilityHelper.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Spotify.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Spotifree.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Arq.app/Contents/Library/LoginItems/Arq Agent.app</string>
			<key>startupMode</key>
			<string>shown</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>version</key>
	<integer>5</integer>
</dict>
</plist>
