{{- $name := "Manassarn Manoonchai" -}}
{{- $email := "manassarn@gmail.com" -}}
{{- $github_user := "narze" -}}
{{- $asdf_version := "0.9.0" -}}
{{- $computer_name := default "narze-computer-name" (env "CM_computer_name") -}}
{{- $hostname := default "narze" (env "CM_hostname") -}}
{{- $is_codespace := false }}
{{- $nas_mount_path := default "~/mnt/nas" (env "NAS_PATH") -}}
{{- $passphrase := default "change me with 'SETPASS=1 chezmoi init'" (.passphrase) -}}

{{- $is_codespace:= env "CODESPACES" | not | not -}}

{{- if (env "ASK") }}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $hostname = promptString "Hostname" $hostname -}}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{-   $asdf_version = promptString "Asdf Version" $asdf_version -}}
{{- end }}

{{- if (env "SETPASS") }}
{{    $passphrase = promptString "Encryption Passphrase" $passphrase -}}
{{- end }}

{{- $delta_is_not_installed := true }}
{{- if (contains "delta" (output "bash" "-c" "command -v delta || true")) }}
{{-   $delta_is_not_installed = false }}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  asdf_version: {{ $asdf_version | quote }}
  computer_name: {{ $computer_name | quote }}
  hostname: {{ $hostname | quote }}
  nas_mount_path: {{ $nas_mount_path | quote }}
  passphrase: {{ $passphrase | quote }}

  flags:
    delta_is_not_installed: {{ $delta_is_not_installed }}
    is_codespace: {{ $is_codespace }}

encryption: gpg
gpg:
  symmetric: true
  args: ["--batch", "--passphrase", {{ $passphrase | quote }}, "--no-symkey-cache", "--quiet"]
