[user]
  name = {{ .name }}
  email = {{ .email }}
[core]
  excludesfile = ~/.gitignore_global
  {{ if .flags.delta_is_not_installed -}} # [git-delta not installed] # {{ end -}}
  pager = delta
[interactive]
  {{ if .flags.delta_is_not_installed -}} # [git-delta not installed] # {{ end -}}
  diffFilter = delta --color-only
[alias]
  conflicts = "diff --name-only --diff-filter=U"
[ghq]
  root = ~/Code
[rerere]
  enabled = 1
[pull]
  rebase = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
  defaultBranch = main
[include]
  path = ~/.gitconfig.local
[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default

# Git Worktree Runner
[gtr "ai"]
  default = opencode

{{/* Added from gh auth setup-git */}}
{{- if (env "CODER") }}
[credential "https://github.com"]
  helper =
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !gh auth git-credential
{{ end -}}
