<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.monosor.mpd</string>
    <key>Disabled</key>
    <false/>
    <key>UserName</key>
    <string>{{ ansible_user_id }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/mpd</string>
        <string>{{ ansible_env.HOME }}/.local/mpd/mpd.conf</string>
    </array>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
