{{- if .flags.is_codespace -}}
#!/bin/sh

echo ""
echo "=== Dotfiles installed on Codespaces! ==="
echo "To install LunarVim, run this script:"
echo "~/.local/share/chezmoi/scripts/manual/codespaces-lunarvim.sh"
{{ end -}}
