{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/bin/bash

# GitHub CLI
curl -sS https://webi.sh/gh | sh

# ghq & zellij
if command -v mise >/dev/null; then
  mise use ghq -y
  mise use zellij -y
fi

{{ end -}}
