{{- if .flags.is_codespace -}}
#!/bin/sh

echo ""
echo "=== Dotfiles installed on Codespaces! ==="
echo "To install LunarVim, run this script:"
echo "~/.local/share/chezmoi/scripts/manual/codespaces-lunarvim.sh"
echo "To re-run chezmoi script run install script again in .codespaces directory"
echo "/workspaces/.codespaces/.persistedshare/dotfiles/install.sh"
{{- else -}}
#!/bin/sh
{{- end }}

echo ""
echo "You can clear run_once script states with:"
echo "  chezmoi state delete-bucket --bucket=scriptState"

echo "Setting encryption passphrase:"
echo "  SETPASS=1 chezmoi init"
