{{- if .flags.is_codespace -}}
#!/bin/sh

# Install Packages

# FIXME: cargo not available in codespaces since rust is no installed
# cargo install git-delta # Error: "memory allocation of 7881122326526296064 bytes failed"

echo "Packages Installed!"
{{ end -}}
