{{- if .flags.is_codespace -}}
#!/bin/sh

# Install Packages

cargo install exa
# cargo install git-delta # Error: "memory allocation of 7881122326526296064 bytes failed"

echo "Packages Installed!"
{{ end -}}
