{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install Mac Apps via Homebrew Cask

source /tmp/chezmoi-utils.sh

printf "${green}[20 - macOS] ${reset}"
{{- if or (lt 20 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_APPS") }}
echo "Skip installing Mac Apps via Homebrew Cask"
exit 0
{{ else }}
echo "Install Mac Apps via Homebrew Cask"
{{- end }}

set -eufo pipefail

{{ $taps := list -}}

{{ $brews := list -}}

{{ $casks := list
  "1password"
  "airflow"
  "alt-tab"
  "amitv87-pip"
  "anki"
  "arc"
  "beardedspice"
  "betterdisplay"
  "cursor"
  "discord"
  "ghostty"
  "google-chrome"
  "google-drive"
  "grishka/grishka/neardrop"
  "hammerspoon"
  "iina"
  "karabiner-elements"
  "kawa"
  "keyboard-maestro"
  "keycastr"
  "kitty"
  "localsend/localsend/localsend"
  "lulu"
  "notunes"
  "obsidian"
  "orbstack"
  "plex"
  "postgres-unofficial"
  "postman"
  "raycast"
  "raindropio"
  "rescuetime"
  "shortcat"
  "slack"
  "soundsource"
  "spotify"
  "syncthing"
  "telegram"
  "the-unarchiver"
  "visual-studio-code"
  "vivaldi"
  "zen-browser"
-}}

brew bundle --file=/dev/stdin <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF
{{ end -}}
