#!/bin/bash

SCRIPTS_DIR={{ .chezmoi.sourceDir }}/../scripts

{{- if eq .chezmoi.os "darwin" }}
  OS=darwin
{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
  OS=linux-ubuntu
{{- else }}
  echo "Not supported"
  exit 0
{{- end }}

for script in $SCRIPTS_DIR/$OS/*.*sh
do
  echo $script
  source $script
done
