{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

source /tmp/chezmoi-utils.sh

printf "${green}[22 - macOS] ${reset}"
{{- if or (lt 22 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_MAS") }}
echo "Skip installing Mac App Store apps via mas"
exit 0
{{ else }}
echo "Install Mac App Store apps via mas"
{{- end }}

set -ufo pipefail

{{- if not (eq .computer_name "narze-m1-pro") }}
mas account &> /dev/null

if [[ $? -ne 0 ]]; then
  echo "Please login to Mac app store first, then run command again"
  mas open
  exit 0
fi
{{- end }}

brew bundle --no-lock --file=/dev/stdin <<EOF

mas "CYHMN Can you hear me now?", id: 1564656437
mas "Fantastical", id: 975937182
mas "Helium", id: 1054607607
mas "Pocket", id: 568494494
mas "Spark", id: 1176895641

EOF
{{ end -}}
