{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install common macOS packages

source /tmp/chezmoi-utils.sh

printf "${green}[10 - macOS] ${reset}"
{{- if or (lt 10 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_BREW") }}
echo "Skip installing common macOS packages"
exit 0
{{ else }}
echo "Install common macOS packages"
{{- end }}

set -eufo pipefail

{{ $taps := list
  "homebrew/cask-fonts"
  "koekeishiya/formulae"
  "FelixKratz/formulae"
  "yqrashawn/goku"
-}}

{{ $brews := list
  "gh"
  "ghq"
  "git"
  "git-delta"
  "git-extras"

  "mackup"
  "mas"

  "neofetch"
  "reattach-to-user-namespace"
  "terminal-notifier"
  "tmux"
  "tree"
  "watch"
  "zsh"

  "colima"
  "docker"
  "docker-compose"
  "kubernetes-cli"
  "kubectx"

  "koekeishiya/formulae/skhd"
  "koekeishiya/formulae/yabai"
  "yqrashawn/goku/goku"
  "FelixKratz/formulae/sketchybar"
  "FelixKratz/formulae/borders"

  "bat"
  "btop"
  "chezmoi"
  "eza"
  "ffmpeg"
  "fileicon"
  "gpg"
  "jq"
  "fzf"
  "fzy"
  "shellcheck"
  "switchaudio-osx"
  "wakatime-cli"
  "zoxide"
-}}

{{ $casks := list
  "1password/tap/1password-cli"
  "bunch"

  "font-comic-mono"
  "font-fira-code-nerd-font"
  "font-fantasque-sans-mono"
  "font-fantasque-sans-mono-nerd-font"
  "font-monaspace-nerd-font"

  "qlmarkdown"
  "quicklook-json"
  "qlimagesize"
  "suspicious-package"
  "quicklookase"
  "qlvideo"
  "WebPQuickLook"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF

echo "Start services..."

# {{- if not (eq .computer_name "narze-m1-pro") }}
# brew services start skhd
# brew services start yabai
# {{- end }}
brew services restart goku

{{ end -}}
