{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

fileicon set "/Applications/kitty.app" $HOME/.local/macos/fileicons/terminal_synthwave.icns
fileicon set "/Applications/Visual Studio Code.app" $HOME/.local/macos/fileicons/vscode.icns

{{ end -}}
