music_directory         "{{ secret.mpd_music_dir }}"
playlist_directory      "~/.local/var/mpd/playlists"
db_file                 "~/.local/var/mpd/mpd.db"
log_file                "~/.local/var/mpd/mpd.log"
pid_file                "~/.local/var/mpd/mpd.pid"
state_file              "~/.local/var/mpd/mpdstate"
auto_update             "yes"
auto_update_depth       "2"
follow_outside_symlinks "yes"
follow_inside_symlinks  "yes"
log_level               "default"
max_connections         "10"
max_playlist_length     "131072"
max_output_buffer_size  "32768"
max_command_list_size   "32768"
audio_buffer_size       "4096"
buffer_before_play      "25%"
connection_timeout      "60"
filesystem_charset      "UTF-8"
id3v1_encoding          "UTF-8"
gapless_mp3_playback    "yes"
zeroconf_enabled        "yes"
zeroconf_name           "Music Player"

audio_output {
    type                  "osx"
    name                  "CoreAudio"
    mixer_type            "software"
}

decoder {
    plugin                "mp4ff"
    enabled               "no"
}

bind_to_address         "0.0.0.0"
port                    "6600"

user                    "{{ ansible_user_id }}"
