{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

echo "Installing Homebrew..."

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo "Homebrew Installed!"
{{ end -}}

